/*for inline code*/
p > code {
	font-family: Consolas, monospace;
	color: var(--rawcode);
	background-color: var(--rawcodebg);
}

/*for code blocks*/
pre > code {
	font-family: "Fira Mono", Consolas, monospace;
}

/*mainly to cover golang is rad inline code*/
li > code {
	font-family: Consolas, monospace;
	color: var(--rawcode);
	background-color: var(--rawcodebg);
}

/*for line numbers -- doesn't work cause highlight color is inline*/
tr td:first-child code:first-child span {
	color: var(--h5boi);
}

div.highlight {
	border: 2px solid;
	border-color: var(--h5boi);
}

blockquote {
	color: var(--h5boi);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	padding-left: 10px;
	border-left: 5px solid var(--h4boi);
}

blockquote > blockquote {
	color: var(--h5boi);
	margin-left: 10px;
	border-left: 5px solid var(--hrcomplaint);
}

input {
	color: var(--rawcode);
	background-color: var(--rawcodebg);
	border-width: 2px;
	border-color: var(--linkfam);
}

input[type=submit] {
	font-weight: bold;
	font-size: 16px;
	border-width: 5px;
	border-color: var(--h2boi);
}

/*sexy title ToC header color*/
h2#toc-title {
	color: var(--tocaccentbright);
}

/*make the separation of ToC clear*/
hr#toc-hr {
	color: var(--tocaccentdim);
}

/*this sucks*/
nav#TableOfContents > ul > li > a {
	color: #2aa198;
}

/*this also sucks*/
nav#TableOfContents > ul > li > ul > li > a {
	color: #af8700;
}

/*this is soggy cereal tbh*/
nav#TableOfContents > ul > li > ul > li > ul > li > a {
	color: #d7d7af;
}

/*load some dank fira mono for coding*/
@font-face {
	font-family: "Fira Mono";
	src: url("/fonts/FiraMono-Regular.woff2") format("woff2");
	font-display: optional;
}
