<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
{{ partial "favicon.html" . }}
		<link rel="preload" href="/fonts/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preconnect" href="/fonts/FiraMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/css/non-critical.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{ .Site.Author.name }}">
		<meta name="description" content="{{ block "desc" . }}{{ end }}">
		<meta name="theme-color" content="#440044">
		<style>
{{ readFile "static/css/critical.css" | safeCSS }}
		</style>
	</head>
	<body>
		<h1>
			{{ block "header" . }}
				{{ .Title }}
			{{ end 	}}
		</h1>

		{{ partial "nav.html" . }}

		<hr>

		{{ block "main" . }}
			{{ .Content }}
		{{ end }}

		<hr>

		{{ partial "footer" . }}
</body>
</html>
