<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/Cabin-icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/Cabin-icon-114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/Cabin-icon-72.png">
		<link rel="apple-touch-icon-precomposed" href="/img/Cabin-icon-57.png">
		<link rel="shortcut icon" href="/img/Cabin-icon-16.png" as="image" type="image/x-icon">
		<link rel="preload" href="/fonts/FiraSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/FiraMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/css/basic.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{ .Site.Author.name }}">
		<meta name="description" content="{{ block "desc" . }}{{ end }}">
		<meta name="theme-color" content="#440044">
	</head>
	<body>
		<h1>
			{{ block "header" . }}
			{{ end 	}}
		</h1>

		{{ partial "nav.html" . }}

		<hr>

		{{ block "main" . }}
		{{ end }}

		<hr>

		{{ partial "footer" . }}
</body>
</html>
