<link rel="icon" sizes="32x32" href="/img/Cabin-icon-32.png">
<link rel="icon" sizes="57x57" href="/img/Cabin-icon-57.png">
<link rel="icon" sizes="76x76" href="/img/Cabin-icon-76.png">
<link rel="icon" sizes="96x96" href="/img/Cabin-icon-96.png">
<link rel="icon" sizes="128x128" href="/img/Cabin-icon-128.png">
<link rel="icon" sizes="192x192" href="/img/Cabin-icon-192.png">
<link rel="icon" sizes="228x228" href="/img/Cabin-icon-228.png">

<link rel="icon" sizes="196x196" href="/img/Cabin-icon-196.png">
<link rel="shortcut icon" sizes="196x196" href="/img/Cabin-icon-196.png">

<link rel="apple-touch-icon" sizes="120x120" href="/img/Cabin-icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/Cabin-icon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/Cabin-icon-180.png">

<link rel="apple-touch-icon" sizes="144x144" href="/img/Cabin-icon-144.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/Cabin-icon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/Cabin-icon-72.png">
<link rel="apple-touch-icon" sizes="57x57" href="/img/Cabin-icon-57.png">
<link rel="apple-touch-icon" href="/img/Cabin-icon-57.png">

<link rel="icon" href="/img/Cabin-icon-16.png" as="image" type="image/x-icon">
<link rel="shortcut icon" href="/img/Cabin-icon-16.png" as="image" type="image/x-icon">
